@{
    ViewData["Title"] = "Home Page";
}

<h1>ASP.NET Core MVC Crushes Routing</h1>
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6">
       <p>This ASP.NET Core application supports 1,000,000 dynamically generated routes</p>
       <p>Enter a number between 1 - 999,999:<input id="testNumber" value="999999" type="text"</p>
       <p><a id="clickLauncher" href="#">Click here</a> to see a sample</p>
    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
    jQuery(clickLauncher).on("click", function (){
        window.location.href = "special/" + $("#testNumber").val();
    })
    </script>
}
